<!DOCTYPE html>
<html>
<head>
  <title>MissionKontrolRelay</title>
  <%= stylesheet_link_tag    "mission_kontrol_relay/application", media: "all" %>
  <%= javascript_include_tag "mission_kontrol_relay/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
